#imagesContainer
  %div{style: "background-image: url('assets/madison/1.JPG')"}
  %div{style: "background-image: url('assets/madison/2.JPG')"}
  %div{style: "background-image: url('assets/madison/3.JPG')"}
  %div{style: "background-image: url('assets/madison/4.JPG')"}
  %div{style: "background-image: url('assets/madison/5.JPG')"}
  %div{style: "background-image: url('assets/madison/6.JPG')"}
  %div{style: "background-image: url('assets/madison/7.JPG')"}
  %div{style: "background-image: url('assets/madison/8.JPG')"}
  %div{style: "background-image: url('assets/madison/9.JPG')"}
  %div{style: "background-image: url('assets/madison/10.JPG')"}
  %div{style: "background-image: url('assets/madison/11.JPG')"}
  %div{style: "background-image: url('assets/madison/12.JPG')"}
  %div{style: "background-image: url('assets/madison/13.JPG')"}
  %div{style: "background-image: url('assets/madison/14.JPG')"}
  %div{style: "background-image: url('assets/madison/15.JPG')"}
  %div{style: "background-image: url('assets/madison/16.JPG')"}
  %div{style: "background-image: url('assets/madison/17.JPG')"}
  %div{style: "background-image: url('assets/madison/18.JPG')"}
  %div{style: "background-image: url('assets/madison/19.JPG')"}
  %div{style: "background-image: url('assets/madison/20.JPG')"}
  %div{style: "background-image: url('assets/madison/21.JPG')"}
  %div{style: "background-image: url('assets/madison/22.JPG')"}
  %div{style: "background-image: url('assets/madison/21.JPG')"}
  %div{style: "background-image: url('assets/madison/22.JPG')"}
  %div{style: "background-image: url('assets/madison/21.JPG')"}
	
%img.flower.flower1{src: "assets/bg/flower1.png"}
%img.flower.flower2{src: "assets/bg/flower2.png"}
%img.flower.flower3{src: "assets/bg/flower3.png"}
#videoContainer
  #tabContainer
    .tab{data: {video: "mov"}}
      %p .mov
    .tab{data: {video: "mp4"}}
      %p .mp4
    .tab{data: {video: "webm"}}
      %p .webm