%video#video_mov{:controls => "", :src => "assets/movies/madison.mov", :width => "500"}
%video#video_mp4{:controls => "", :src => "assets/movies/madison.mp4", :width => "500"}
%video#video_webm{:controls => "", :src => "assets/movies/madison.webm", :width => "500"}
