/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

                    /* Colors */
/* 
offWhite          #f5f5f5
betterBlue        #81D5AF
textBlue          #587da0

*/

                    /* Outer Containers*/

body{
  text-align: center;
  color: #587da0;
  margin: 0 auto;
  padding-bottom: -100;
  font-size: 12px; 
  /*1 em = 12px*/
  position: relative;
  background: image-url('bg/flowerRepeating.png') #f9f7f3;
}

header{
  width: 100%;
/*  -moz-box-shadow:    3px 3px 5px 3px #a0c5e8;
  -webkit-box-shadow: 3px 3px 5px 3px #a0c5e8;*/
  box-shadow:         1px 1px 2px 1px #485969;
  background-image: image-url('bg/designyBlue.gif');
  background-position: center top;
}

#imagesContainer{
  margin: 0 auto;
  overflow: hidden;
  z-index: 300;
  margin-top: 20px;
}

aside{
  width: 30%;
  display: inline-block;

}

                    /* Inner Header */
h1{
  font-family: 'Lily Script One', cursive;
  font-size: 10em;
  margin: 0 auto;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav{
  overflow: hidden;
}

nav li{
  float: left;
  width: 50%;
  font-family: 'Lily Script One', cursive;
  font-size: 3em;
}

a{
  text-decoration: none;
  color: #587da0;
  display: block;
}

a:hover{
  color: #2d2d2d;
}

                    /* Inner Body */
.content{
  font-size: 3em;
  color: #2d2d2d;
}

.emp{
  color: #587da0;
  font-size: 3em;
}

img{
  margin-bottom: 225px;
  /*border-radius: 100%;*/
}

#imagesContainer > div{
  background-repeat: no-repeat;
  background-position: center center;
  width: 20%;
  background-size: cover;
  -webkit-mask-box-image: image-url('circle.svg');
  float: left;
  -webkit-mask-box-image: image-url('circle.svg');
  -webkit-transition: height 400ms ease-in, width 400ms ease-in;
}

.flower{
  position: absolute;
  z-index: -1;
  /*visibility: hidden;*/
}

.flower1{
  top: 180px;
  left: 100px;
  width: 30%;
}

.flower2{
  top: 500px;
  left: 555px;
}

.flower3{
  top: 1000px;
  left: 650px;
  width: 9%;
}

video{
  margin: 0 auto;
}

#videoContainer{
  width: 525px;
  margin: 20px auto 0 auto;
}
/*tab style*/

#tabContainer{
  width: 100%;
}

.tab{
  width:33%;
  font-size: 24px;
  float: left;
  /*margin-right: 20px;*/
  background-color: pink;
}

.tab:hover{
  background-color: #2d2d2d;
}